* {
  box-sizing: border-box;
}

.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

#con_listing .btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}
a {
  text-decoration: none;
  color: #7b52ab;

}
ul {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

#inner_detail canvas {
  position: absolute;
  left: 0;
  width: 100%;
  height: 149px;
  z-index: -9;
  /* opacity: 0.7; */
}

#con_listing .btn_new {
  border: none;
  width: 100%;
  text-align: left;
  margin-top: 10px;
  background: none;
  color: #000;
  text-decoration: none;
}
/* Icon when the collapsible content is shown */
.list_voice li a {
  width: 100%;
  line-height: 30px;
  font-size: 16px;
  text-align: left !important;
  color: #000;
}
.list_voice li {
  text-align: left;
}

#con_listing .btn_new:after {
  font-family: "Glyphicons Halflings";
  content: "\e114";
  float: right;
  margin-left: 15px;
}

.payment_bg {
  background: #eee;
  border-radius: 7px;
}
.pay_img_right {
  padding: 0 21px 0 0;
}
#check_listing a {
  text-decoration: none;
  color: #000;
}
#con_listing btn-link:focus,
.btn-link:active,
.btn-link:hover {
  color: #409f83;
}

.btn-link a {
  text-decoration: none;
  color: #000;
}
.btn_rife a {
  color: #000;
  width: 100%;
    float: left;
    padding: 7px 0 3px 13px;
    margin-left: -6px;

}
/* Icon when the collapsible content is hidden */
.btn_new.collapsed:after {
  content: "\e080";
}
#demo2 a,
#demo1 a,
#demo a,
#rife_demo a {
  color: #000;
  width: 100%;
  float: left;
  padding: 3px 0 3px 13px;
}
#con_listing .active {
  color: #409f83;


}

 
.btn_dis button {
  cursor: none !important;
  opacity: 0.5;
  pointer-events: none;
}
.button_play {
  background-image: url("../images/middle.png") repeat none;
  height: 100px;
  width: 100px;
  border: 0px;
}
.button_mute {
  background-image: url("../images/mute.png") repeat none;
}

.button_record {
  background: none;
  border: none;
  cursor: pointer;
}
.page-item .page-link {
  margin-left: 5px !important;
  border-radius: 8px !important;
  /* background-color: #a7c9c6!important; */
  color: #000 !important;
  font-size: 16px !important;
  font-weight: 600;
}

.intro {
  color: #fff;
  margin-bottom: 0px;
  padding: 4px 0px 3px 3px;
  color: #409f83;
}
input[type="range"][orient="vertical"] {
  -webkit-appearance: slider-vertical; /* Chromium */
  height: 85px;
}
.btn.dropdown-toggle.nav-link {
  font-weight: bold;
  color: #d29022 !important;
}

#payment .flex-container {
  display: flex;
}

#payment .flex-child {
  flex: 1;
}

#payment .flex-child:first-child {
  margin-right: 5px;
}
#inner_detail .comment {
  width: 100%;
}
.page-item.active .page-link {
  background-color: #a7c9c6 !important;
  border-color: #4a726f !important;
}

.active a {
  border-bottom: 2px solid #43a58b;
  text-decoration: none;
}

.nav-item .dropdown-menu {
  border: 2px solid #eee;
  padding: 7px 0 12px 1px;

  overflow: hidden;
  font-size: 12px;
}
.dropdown button {
  border: 0px;
}
#payment .main_payment {
  margin: 0 auto;
  width: 500px;
  text-align: center;
}
#payment label.save_m {
  color: #fff;
  background-color:red;
  font-size: 16px;
  padding: 2px 7px 1px 7px;
  text-align: center;
  border-radius: 5px;
  /* margin-top: 30px;
  margin-left: -100px */

}
#payment .q_color {
  /* background-color: #409f83 !important; */
  color:white;
  border-radius: 24px;
  padding: 8px 18px 8px 18px;
  background-color:#059F83;
  font-weight: 700;
}
#payment .q_border {
  /* border: 2px solid #409f83 !important; */
  border-radius: 24px !important;
}
#payment .q_boder1 {
  border: 1px solid #ccc !important;
  color: black !important;
}

#payment .price_detail {
  background-color:white;;
  border-radius: 5px;
  color: black;
  text-align: center;
  margin-bottom: 24px;
  margin-top: 20px;
  border: 1px solid black;
}

#payment input::placeholder {
  color: black!important;
}
#payment input {
  border: 0px;
  color: black;
  box-shadow: none;
  font-size: 14px;
  border: 1px solid #ccc;
  /* background-color: #eee; */
  margin-bottom: 10px;
}
/* #payment .top_border {
  border-top: 2px solid black;
  float: left;
  width: 100%;
} */
#payment .payment_btn,
#inner_detail .payment_btn {
  background-color:#059F83;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  padding: 8px;
  color: white;
  width: 100%;
  float: left;
}
#payment .toggle_btn1 {
  background-color:#059F83;
  color: #fff;
  border-radius: 24px;
  padding: 8px 18px 8px 18px;
  font-weight: bold;
}
#payment .toggle_btn2 {
  color: #7b52ab;
  float: right;
  padding: 8px 18px 8px 18px;
}
#payment .bill_detail {
  float: left;
  width: 100%;
  margin: 21px 0 19px 0px;
}
#payment .btn_box {
  border: 1px solid black;
  border-radius: 24px;
}

.nav-item {
  padding: 0 7px 0 7px;
}

.nav-link {
  color: #d29022 !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

#get_stared {
  margin-top: 4%;
}
.get_box {
  border-radius: 6px;
  padding: 0px 16px 13px 16px;
  text-align: center;
  color: #059f83;
}

.sticky-top {
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
  background-color: #000;
  padding: 10px 0 10px 0px;
  margin-bottom: 40px;
  font-weight: 500;
}

#get_stared .input {
  border: 0px;
  border-bottom: 2px solid #059f83;
  color: #059f83;
  border-radius: 0px;
  font-size: 14px;
  font-weight: bolder;
  padding: 5px;
  margin-bottom: 3%;
  box-shadow: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #059f83 !important;

  /* Firefox */
}

#get_stared .btn {
  background-color: #059f83;
  color: #fff;
  font-size: 16;
  border-radius: 6px;
  border: 0px;
  font-weight: 500;
  margin: 8px 0 27px 0;
}

#get_stared a {
  color: #059f83;
  font-size: 15px;
  text-decoration: underline;
}

#get_stared .social_box {
  display: inline-block;
}
#shop div.text-center img {
  width: 100%;
  max-width: 900px;
}
#shop div.top_head {
  border-top: 1px solid #000;
  border-bottom: 1px solid #eee;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
#shop div.top_head h5 {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  width: 100%;
}
#pro_sell .pro_sell {
  text-align: center;
}
#shop .pro_sell h6 b {
  line-height: 21px;
}

#get_stared .btn {
  background-color: #059f83;
  color: #fff;
  font-size: 16px;
  border-radius: 6px;
  border: 0px;
  font-weight: 500;
  padding: 11px 16px 12px 15px;
}

#get_stared .line_left {
  border-bottom: 2px solid #059f83;
  width: 33%;
  height: 12px;
  float: left;
  margin: 0 15px 0 0;
}

#get_stared h5 {
  color: #059f83;
  font-size: 15px;
  text-align: left;
  margin: 0px;
  font-weight: bold;
}

#get_stared .line_right {
  border-bottom: 2px solid #059f83;
  width: 33%;
  height: 0px;
  float: right;
  margin: -7px 0 23px 0;
}

#get_stared .bootom_link {
  flex-direction: row;
  font-size: 15px;
  color: #059f83;
}

#con_listing {
  background-color: #ecf5f4;
}

.nav-link.pro_shape {
  background: #059f83;
  border-radius: 52px;
  color: #fff !important;
  text-transform: uppercase;
  text-align: center;
  height: 50px;
  width: 46px;
}

.check_listing {
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  float: left;
  width: 25%;
  padding: 10px 0 10px 6px;
}

.has-search .form-control {
  padding-left: 2.375rem;
  float: right;
}

.has-search {
  float: right !important;
  width: 60%;
}
.mar_left {
  margin: 0 0 0 36px;
}
#inner_detail input::placeholder {
  color: #222222 !important;
}
#inner_detail .fre_number {
  text-align: center;
  border: none;
  margin-top: 8px;
  font-size: 16px;
  color: #059f83;
  -webkit-user-modify: read-only;
}
#inner_detail input.comment_bg {
  border-radius: 7px;
  background-color: #ecf5f4;
  height: 60px;
  border: none;
}
#inner_detail .list_voice li h3 {
  cursor: pointer;
  font-size: 16px;
}
.form-control_new {
  padding: 19px 0 20px 10px !important;
  margin: 0 0 0 3px;
  width: 100%;
}
#inner_detail div.user_name {
  background: #059f83;
  border-radius: 27px;
  padding: 15px;
  color: #fff;
  float: left;
  width: auto;
}

#inner_detail .play_box {
  background-color: #ecf5f4;
  text-align: center;
  border-radius: 7px;
  float: left;
  padding: 28px 0 29px 5px;
  vertical-align: middle;
  width: 100%;
}
#inner_detail .white_bg {
  background-color: #fff;
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 7px;
  background-image: url("../images/vol_bg.png");
}

#inner_detail .white_bg1 {
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 7px;
  padding: 9px 0 15px 0;

  max-width: 400px;
  float: left;
  background-color: #fff;
  margin-bottom: 12px;
  z-index: 1;
}

.image_play_waves {
  background: url(../images/sinewaves.gif) 0 0;
  background-repeat: no-repeat;
  width: 400px;
  position: absolute;
  top: -19px;
  left: 0;
  z-index: -9;
  margin: 0px;
  height: 178px;
  border-radius: 5px;
  background-size: cover;
}

.image_pause_waves {
  background-image: url("../images/sinewaves.gif") 0 0;
  width: 400px;
  height: 338px;
  background-repeat: no-repeat;
}

#con_listing nav {
  float: left;
}

#inner_detail label.fre_number_text {
  font-weight: 700;
  font-size: 15px;
}

#inner_detail .white_bg_active {
  /* background-image: url("../images/sinewaves.gif");
  background-repeat: no-repeat; */
}
#inner_detail li.hz {
  text-align: left;
  border-bottom: 1px solid;
  width: 100%;
  font-size: 20px;
  padding-top: 0px;
  float: left;
}

#inner_detail.vol_bg {
  background-color: #ecf5f4;
}
#inner_detail i.fa {
  background: rgb(138, 138, 138);

  border-radius: 2px;
  font-size: 16px;
  color: #fff;
  padding: 10px;
}
#inner_detail .volume {
  float: right;
  background-color: #ecf5f4;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  position: relative;
  width: 40px;
}

.button_left {
  float: left;
}

.card {
  margin: 0 20px 0 20px;
}

.serch_box {
  float: left;
  width: 100%;
}

.main-title {
  margin-top: 5px;
}
.disabled {
  pointer-events: none;
}

.has-search .form-control-feedback {
  position: relative;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 0.375rem;
  line-height: 4.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.check_listing h5 {
  font-size: 15px;
}

.form-check-label {
  float: left;
  width: 100%;
  padding-left: 5px;
  line-height: 20px;
  font-size: 15px;
  color: #2d2d2d;
  font-weight: normal;
}

.img_top {
  padding: 17px 0 0 0;
}

.card-body {
  padding: 11px 0 0 0 !important;
  text-align: left !important;
}

.top_dis {
  vertical-align: top;
  padding: 0 0 0 4px;
}

.card_box span {
  vertical-align: top;
}

.card_box {
  background-color: #fff;
  border: 1px solid #eee;
  /* height: 300px; */
  width: 15%; 
  margin: 0 4px 0 9px;
  padding: 11px 0 9px 11px;
  text-align: left;
  margin-bottom: 20px;
  float: left;
}

.left_aerrow_bg {
  background-color: #fff;
  padding: 7px;
  border: 1px solid #595959;
  border-radius: 5px;
}
#inner_detail p {
  color: #222222;
}

#inner_detail p.likes {
  padding: 9px 0 0 0;
}
#inner_detail div.border_bottom {
  border-bottom: 1px solid #e5e5e5;

  margin-bottom: 3;
  padding-bottom: 38px;
  padding-top: 20px;
  margin-bottom: 10px;
  /* float: left;
    width: 100%; */
}

.ui-widget-content {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
.ui-autocomplete-loading {
  background: white url(../images/ui-anim_basic_16x16.gif) right center
    no-repeat !important;
}

.ui-autocomplete-group {
  line-height: 30px;
  background-color: #31bda3;
  font-weight: 700;
  color: white;
  pointer-events: none;
  padding-left: 10px;
}

.ui-menu .ui-menu-item .ui-menu-item-wrapper {
  padding-left: 15px;
}



#index{
  width: 97%;
}


#index .row {
  margin-left: 30px;
  margin-top: 30px;
}

#index .row .col-xl-3 {
  width: 33.333333%;
}

#index .row .col-xl-3 .card {
  border: 1px solid #ccc;
  padding: 10px;
}

#index .row .col-xl-3 .card-title {
  font-size: 20px;
  font-weight: 700;
}

#sign_up .form-control.input {
  text-align: center;
}



.new{
  background-color: #fff;
  border: 1px solid #eee;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  /* display: table; */
 
}
.card-body h5  {
font-size: 17px;
text-align: center;
font-weight: bold;
}
.new span {
vertical-align: top;
}

span.likes {
 vertical-align: top;
}

.logo{
 text-align: center;
 padding-top: 18px;

}
.creditcard_badges {
  padding: 15px 0;
}
.checkout-statement {
  /* float: left; */
  padding: 8px;
  margin-left: -111px;
}


.checkout-faqs h4 {
  color: #018abe;
  font-size: 20px;
}

.checkout-faqs a {
  color: blue;
}
.checkout-faqs {
  width: 79%;
  margin-left: 109px;
  margin-top: 47px;
}

.save {
  background: red;
  color: #fff;
  text-align: center;
  border-radius: 12px;
  font-size: 13px;
  padding: 3px 6px;
  margin-left: 14px;
}

.page-template-page-checkouttemplate hr {
  margin-bottom: 1.5em;
  background-color: #ccc;
}
.single-testimonial-before-checkout {
  margin-top: 24px;
}
.single-testimonial-image {
  margin-right: 12px;
  float: left;
}
.single-testimonial-image img {
  border-radius: 100%;
  width: 83%;
  margin-top: -9px;
}


.favorite{
  display: inline-block;
  cursor: pointer;
  width: 24px;
  height: 20px;
  background: url(../images/favorites.png) no-repeat;
}
.favorite.yes{
  background-position: 0px 0px;
}
.favorite.no{
  background-position: -25px 0px;
}
.ss1 {
  display: block;
  width: 100%;
  max-width: 150px;
  margin: 1rem auto;
}

/* 
@media (min-width: 991px) {
  .navbar .navbar-collapse.collapse#navbarNav {
      display: none!important;
  }
  } */


@media (max-width: 991px) {

  .navbar-toggler {
    padding: 0px;
  }

  .container-fluid .row .navbar {
    margin: 0;
    min-height: 0;
    padding: 0;
    justify-content: end;
  }

  .navbar-light .navbar-toggler {
    border-color: #d29022 !important;
    background-color: #fff;
    height: 5vh;
    width: 5vh;
}

  #index .row {
    margin-left: 320px;
    display: block;
  }
  #index .row .col-xl-3 .card {
    margin-bottom: 30px;
  }
  .logo {
    
    margin-left: 19px;
   margin-top: -10px;

  }
  
  .navbar-nav .open .dropdown-menu {
    background-color:white !important;
    font-size: 11px;
}

/* .single-testimonial-content {
  width:100%;
  /* text-align: center; */
} */
.single-testimonial-image img {
  width: 62%;
 
}
.checkout-statement {
 
  padding: 8px;
  margin-left: -61px;
}

.abc{
  margin: 0 auto;
  width: 85%;
}
div#d1 {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
}

.col-md-9.mt-3.mb-4 {
  margin: 0 auto;
  width: 100%;
}
.ss{
  width: 100%;
}
.ss1{
  width: 100%;
}
.fan{
  width: 100%;
}


@media (max-width: 801px) {
  .card_box {
    width: 100%;
    margin-bottom: 20px;
    float: left;
  }

  .check_listing {
    float: left;
    width: 100%;
  }

  .has-search {
    width: 100% !important;
  }
  #shop .pro_sell {
    margin: 0 0 21px 0;
    text-align: center;
  }

  #inner_detail i.fa {
    margin-top: 10px;
  }

  .container-fluid .row .navbar {
    margin: 0;
    min-height: 0;
    padding: 0;
    justify-content: end;
  }

  .navbar-light .navbar-toggler {
    border-color: #d29022 !important;
    background-color: #fff;
    height: 5vh;
    width: 5vh;
}

  #index .row {
    margin-left: 220px;
    display: block;
  }
  #index .row .col-xl-3 .card {
    margin-bottom: 30px;
  }
  .logo{
  
    margin-left: 19px;
    margin-top: -10px; 

  }
  .navbar-nav .open .dropdown-menu {
    background-color:white !important;
    font-size: 11px;
}

.single-testimonial-content {
  width:100%;
  /* text-align: center; */

}
.checkout-statement {
  padding: 8px;
  margin-left: -61px;
}
.fan{
  width: 100%;
  padding: 0px;
}


}

.card-group .new h1 {
    font-size: 20px;
}



@media only screen and (max-width: 767px) {

  .col-xs-6  .response{
    padding: 10px;
    width: 50%;
    display: table;
    
   }
 
   .response .col-md-4 {
     padding:5px;
   }
   
   span.likes {
   vertical-align: top;
     
 }
 
 .logo {
 margin-left: 10px;
 margin-top: -10px; 
 
 }
 .navbar-nav .open .dropdown-menu {
   background-color:white !important;
   font-size: 11px;
 }
 
 .single-testimonial-before-checkout {
     font-size: 11px;
 }
  
}

@media (max-width: 600px) {

  
  .card_box {
    width: 100%;
    margin-bottom: 20px;
    float: left;
  }

  .check_listing {
    float: left;
    width: 100%;
  }

  .has-search {
    width: 100%;
  }
  .pro_sell {
    text-align: center;
  }

 
  .bannerimg img {
    width: 100%;
  }

  .navbar-nav {
    margin: 0px 0px;
  }

  .container-fluid .row .navbar {
    margin: 0;
    min-height: 0;
    padding: 0;
    justify-content: end;
  }

  .navbar-light .navbar-toggler {
    border-color: #d29022 !important;
    background-color: #fff;
    height: 5vh;
    width: 5vh;
  }

  #index .row {
    margin-left: 115px;
    display: block;
  }
  #index .row .col-xl-3 .card {
    margin-bottom: 30px;
  }
  .logo {
  
    margin-left: 10px;
    margin-top:-10px;

  }
  .navbar-nav .open .dropdown-menu {
    background-color:white !important;
    font-size: 11px;
}
 

.checkout-faqs {
  width: 81%;
  margin-left: 50px;
  margin-top: 47px;
}
.single-testimonial-image {
  margin-right: 12px;
  /* width: 89%; */
  margin-left: 16px;
}

.checkout-statement {
  padding: 8px;
  margin-left: -27px;
}
.creditcard_badges {
  width: 100%;
}

}
@media (max-width: 480px) {
  .card_box {
    width: 100%;
    margin-bottom: 20px;
    float: left;
  }

  .check_listing {
    float: left;
    width: 100%;
  }
  .pro_sell {
    text-align: center;
  }
  
  #inner_detail .white_bg1 {
    width: 98%;
    padding: 0;
    margin: 0;
  }

  .container-fluid .row .navbar {
    margin: 0;
    min-height: 0;
    padding: 0;
    justify-content: end;
  }

  .navbar-light .navbar-toggler {
    border-color: #d29022 !important;
    background-color: #fff;
    height: 5vh;
    width: 5vh;

  }

  #index .row {
    margin-left: 50px;
    display: block;
  }
  #index .row .col-xl-3 .card {
    margin-bottom: 30px;
  }
  .new  a img{
    width: 115px;
    margin-left: -9px;
   }
   .new span{
    vertical-align: top;
    top: 17px;
   } 

   #back_bg button{
    width: 28%;
   }
   #back_bg button img{
    width: 100%;
   }
   #back_bg button.plybtn, #back_bg #pause{
    width: 38%;
   }
   .logo{
    margin-left: 14px;
    margin-top: -10px;
  }
  .navbar-nav .open .dropdown-menu {
    background-color:white !important;
    font-size: 11px;
}

.single-testimonial-image {
  margin-right: 12px;
}
.single-testimonial-content {
  width: 100%;
  margin-left: 5px;
}


.single-testimonial-image {
  width: 89%;
   /* margin-left: 16px; */
} 

.checkout-statement {
  padding: 8px;
  margin-left: -27px;
}
.creditcard_badges, .trust-logo img{
  width: 100%;
}
.expirationdate{
  font-size: 12px;
}
#payment label {
  font-size: 10px;
  margin: 0 auto;
  
}
.save{
  font-size: 8px;
  margin-left: -3px;
  font-weight: 700;
}
#payment .toggle_btn1.b2{
  padding-left: 5px;
  
}
  }


@media (max-width: 320px) {
  .card_box {
    width: 100%;
    margin-bottom: 20px;
    float: left;
  }

  .check_listing {
    float: left;
    width: 100%;
  }

  .pro_sell {
    text-align: center;
  }
  .logo img {
    width: 100%;
  }

  #payment label {
    font-size: 12px;
  }

  .navbar-nav > li > a {
    font-size: 10px;
  }

  .navbar-light .navbar-toggler {
    height: 5vh;
    width: 5vh;
}

  #index .row {
    margin-left: -15px;
    display: block;
  }
  #index .row .col-xl-3 .card {
    margin-bottom: 30px;
  }
  .logo {
   
    margin-left: 34px;
    margin-top: -10px;

  }
  
  .navbar-nav .open .dropdown-menu {
    background-color:white !important;
    font-size: 11px;
}

.single-testimonial-image {
  margin-right: 12px;
}
.single-testimonial-content {
  margin-left: 5px;
}


.single-testimonial-image {
  width: 89%;
  margin-left: 16px;
}

.checkout-statement {
  padding: 8px;
  margin-left: -27px;
}

#payment label {
  font-size: 10px;
  margin: 0 auto;
  width: max-content;
}

}














